<h1>Soribada AFP Target Search</h1>
<form id="search_form" action="/main/search_result" method="post">
  <label>word count : </label>
  <input type="text" id="len_val" name="len_val" value="1"></input>
  <label>limit : </label>
  <input type="text" id="limit_val" name="limit_val" value="5"></input>
  <input type="button" value="Search" onclick="$('#search_form').submit();" />
</form>