<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
    <title>Soribada Afp Target Searche System</title>
    <script type="text/javascript" src="/javascripts/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/search_result.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>